
.jfx-button{
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
}

.jfx-button:hover{
    -fx-background-color: #388E3C;
}





/* Style for default table rows */ 
.defaultTableStyle { 
    -fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color: 
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);                   
    -fx-background-image: url('low_contrast_linen.png');
    -fx-background-color: rgba(0,0,0,.75);        
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
}

 

 


/* Format for table rows where container's arrival 

has been planned */

.planAssigned { 
    -fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color: #347b34;
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
}
/* Format for row where a plan has not yet been assigned */
.planNotAssigned { 
    -fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color: #983737;
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
}

/* Format for table row where container has arrived */ 
.vfcRecovered {
    -fx-font-size: 12px;
    -fx-base: rgb(0,0,0,0);
    -fx-background-color: 
        linear-gradient( to top, derive(-fx-color, 35.77966101694915%) 0%, derive(-fx-color, 10.05084745762713%) 50%, derive(-fx-color, -8.559322033898283%) 50.5%, derive(-fx-color, -30.0%) 100%);                   
    -fx-background-image: url('low_contrast_linen.png');
    -fx-background-color: rgba(0,0,0,.75);        
    -fx-border-color: gray;
    -fx-border-width: 1 1 0 0;
}